
  <li id="focused-audio"
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="0"
    data-name="first_ehe"
    data-category="sound">
    <span>First Ehe!</span>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="first_opening"
    data-category="words">
    <span>First Opening</span>
  
    <p class="text-sm">English</p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 opacity-50"
    aria-disabled="true"
    tabindex="-1"
    data-name="mantra_hujan"
    data-category="song">
    <span>Mantra Hujan</span>
  
    <p class="text-sm group-aria-disabled:hidden">Indonesia</p>
    <p class="hidden text-sm group-aria-disabled:block"><%= playlistNotice %></p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 opacity-50"
    aria-disabled="true"
    tabindex="-1"
    data-name="fuwa_fuwa_time"
    data-category="song">
    <span>Fuwa Fuwa Time</span>
  
    <p class="text-sm group-aria-disabled:hidden">Japanese</p>
    <p class="hidden text-sm group-aria-disabled:block"><%= playlistNotice %></p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="teneneneng"
    data-category="sound">
    <span>Teneneng Teneneng~</span>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="transformer_noise"
    data-category="sound">
    <span>Transformer Noise</span>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="underwater"
    data-category="words">
    <span>I am Under the Water</span>
  
    <p class="text-sm">English</p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 opacity-50"
    aria-disabled="true"
    tabindex="-1"
    data-name="la_vaguelette"
    data-category="song">
    <span>La Vaguelette (cont.)</span>
  
    <p class="text-sm group-aria-disabled:hidden">French</p>
    <p class="hidden text-sm group-aria-disabled:block"><%= playlistNotice %></p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 opacity-50"
    aria-disabled="true"
    tabindex="-1"
    data-name="la_vaguelette2"
    data-category="song">
    <span>La Vaguelette</span>
  
    <p class="text-sm group-aria-disabled:hidden">French</p>
    <p class="hidden text-sm group-aria-disabled:block"><%= playlistNotice %></p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="graphic_design"
    data-category="words">
    <span>Graphic Design is My Passion</span>
  
    <p class="text-sm">English</p>
  
  </li>

  <li 
    class="group grid grid-rows-[repeat(2,auto)] py-2 px-4 mb-2 rounded-lg bg-white/50 transition-transform cursor-pointer hover:-translate-x-[2px] hover:-translate-y-[2px] hover:bg-white"
    aria-disabled="false"
    tabindex="-1"
    data-name="ara_ara"
    data-category="sound">
    <span>Ara-ara~</span>
  
  </li>
