<!DOCTYPE html>
<html data-t="lang dir" lang="<%= lang %>" dir="<%= dir %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p data-t="text" class="text-sky-600">
    <%= text %>
  </p>
</body>

</html>
