@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[role="switch"]:checked + div {
    & > .switch-track {
      @apply bg-dark-blue border-dark-blue;

      & > .switch-thumb {
        @apply bg-white translate-x-[calc(18px*var(--dir))];
      }
    }
  }

  .words-list li, .sound-list li, .song-list li {
    display: none;
  }

  .words-list [data-category="words"] {
    display: grid;
  }

  .sound-list [data-category="sound"] {
    display: grid;
  }

  .song-list [data-category="song"] {
    display: grid;
  }

  /* #audio-playlist li[aria-disabled="true"] {
    & .song-lang {
      display: none;
    }

    & .song-notice {
      display: initial;
    }
  }

  #audio-playlist li[aria-disabled="false"] {
    & .song-lang {
      display: initial;
    }

    & .song-notice {
      display: none;
    }
  } */
}

@layer utilities {
  .mask-circle {
    mask-image: radial-gradient(circle, transparent 30%, black 100%);
  }
}
